#logo {
    background: black;
    width: 100%;
    height: 400px;
    height: 100%;
    margin-top: 3%;
}

#faceBookLogo {
    height: 80px;
    width: 80px;
}

body {
      display: flex;
    min-height: 100%;
    flex-direction: column;
    background-image: url("../images/main/fireBack.png");
    background-repeat: repeat;
     font-family: Bungee-inline;
    /*background: black;*/

}


#logoArtist {
   width: 100%;
   height: 200px;
   /*margin-top: 3%;*/
   /*background-image: url("../images/main/fireBack.png");*/
}



.carousel {
    /*margin: 3%;*/
    margin-top: -5%;
    margin-left: 10%;
    height: 400px;
    width: 500px;
    padding: 10%;
}

.tatImage {
   
    height: 300px;
    width: 400px;
    margin-left: -5%;
    display: inline-block;
}

.carousel-item {
   
    height: 300px;
    width: 400px;
    margin-left: -5%;
    display: inline-block;
}


.tatImageG {
   /*margin: 1%;*/
    height: 250px;
    width: 250px;
    display: inline-block;
}
.card {
   
    height: 250px;
    width: 250px;
    margin: 1%;
    display: inline-block;
}

#fakeNav {
    margin-top: -3%;
}

.artistImage {
    height: 400px;
    width: 300px;
}

#aboutArtist {
    /*margin-top: 3%;*/
    margin-right: 5%;
}


.artistImageBottom {
    height: 250px;
    width: 250px;
}

#tatGun {
    height: 300px;
    width: 300px;
}

#pierceCost {
    margin-left: -8%;
}

/*end larger screens*/






/*  this is for tablets */
@media screen and (max-width: 980px) and (min-width: 667px) and (-webkit-min-device-pixel-ratio: 2){
    
#para, #viewMore {
    margin-left: 25%;
    /*margin-right: 25%;*/
}

.carousel {
    /*margin: 3%;*/
    /*margin-top: -5%;*/
    margin-left: 20%;
    height: 400px;
    width: 500px;
    padding: 10%;
}
#aboutArtist {
    /*margin-top: 3%;*/
    margin-right: 8%;
}

#pierceCost {
    margin-left: 0%;
}

}






/*  this is for phones */
@media screen and (max-width: 666px) and (min-width: 250px) and (-webkit-min-device-pixel-ratio: 2){
 
 #menuButton {
     margin-top: -52%;
 }
 
    #para, #viewMore {

    margin-left: 20%;
    /*margin-right: 25%;*/
}

.carousel {
    /*margin: 3%;*/
    /*margin-top: -5%;*/
    margin-left: 1%;
    height: 300px;
    width: 330px;
    padding: 2%;
}
#aboutArtist {
    margin-top: -10%;
    margin-right: 8%;
}

.tatImage {
   
    height: 250px;
    width: 300px;
    margin-left: -5%;
    display: inline-block;
}

.carousel-item {
   
    height: 250px;
    width: 300px;
    margin-left: 0%;
    display: inline-block;
}

#faceBookLink {
    margin-left: 0%;
    /*margin-bottom: -10%;*/
}

#faceBookLogo {
    height: 80px;
    width: 80px;
}

.card {
   
    height: 200px;
    width: 200px;
    margin-top: 5%;
    margin-left: 25%;
    display: inline-block;
}

.tatImageG {
   
    height: 300px;
    width: 300px;
    margin: 0%;
    display: inline-block;
}

.card {
   
    height: 300px;
    width: 300px;
    margin: 1%;
    display: inline-block;
    margin-left: 10%;
}


.artistImage {
    height: 400px;
    width: 250px;
}

#pierceCost {
    margin-left: 0%;
}

#sideLogo {
    margin-top: -10%;
    margin-bottom: -45%;
    height: 300px;
    width: 100%;
}


#sideStuff {
    margin-left: 33%;
}

}
